*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Noto Sans';
  }

  .navigationbar div:hover{
    background-color: rgba(0, 103, 179, 0.8);
  }

  .sidebar div:hover{
    background-color: white;
  }

  .image{
    position: relative;
    max-width: 100%;
    
  }
  .image img.colored{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;

  }

  .image:hover img.colored{
    opacity: 1;
  }
  .image:hover img.bnw{
    opacity: 0;
  }

  .navigationbar{
    width: 80vw;
    margin-top: 3px;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
  }

  .navigationbar > div{
    display: flex;
    align-items: center;
  }

  .navigationbar a{
    font-size: 0.875rem;
    color: black;
    text-decoration: none;
  }

  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 103, 179, 0.8);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .sidebar a{
    width: 100%;
    color: black;
    text-decoration: none;
  }

  #closebutton{
    margin-left: 10px;
    align-self: flex-start;
  }

  #menubutton{
    display: none;
    position: fixed;
    top: 10px;;
    left:10px;
  }

  @media(max-width: 800px){
    .navigationbar{
      display: none;
    }
    #menubutton{
      display: block;
    }
  }

  .designers{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100vw;
    background: linear-gradient(180deg, white 30% ,rgba(0, 103, 179, 0.8) 0.52%, #5183B8 17.71%, #5183B8 55.73%, white 0%);

  }

  .developers{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    background: linear-gradient(180deg, white 30% ,rgba(0, 103, 179, 0.8) 0.52%, #5183B8 17.71%, #5183B8 55.73%, white 0%);
  }

  .image{
    display: inline-block;
    width: 15.63rem; 
    height: 21rem;
  }

  .end{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width:100vw;

  }

  .top{
    margin-top: 3rem;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .top div{
    flex-shrink:1;
  }